/* Created By Prathamesh Thorat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#box,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #000;
  position: relative;
}

#box {
  padding: 50px 0;
  height: 100vh;
  overflow-x: hidden;
  max-width: 500px;
}

.circle {
  --radius: 120px;
  --bgc: #fff;
  border-radius: 50%;
  height: calc(var(--radius) * 2);
  width: calc(var(--radius) * 2);
  background-color: var(--bgc);
}

.c1 {
  --radius: 145px;
  background-color: #00ffaa;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -15%);
}

.c2 {
  --radius: 135px;
  background-color: #f6e71a;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(25%, -50%);
}

.c3 {
  background-color: #b458ff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-15%, 15%);
}

.c4 {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -10%);
  --radius: 50px;
}

#profile {
  --width: 300px;
  width: var(--width);
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: relative;
  box-shadow: 0 0 10px #fff;
  border-radius: 5%;
  padding: 0 15px;
  padding-top: calc((var(--width) / 2) / 2 + 21px);
}

#profile::after {
  position: absolute;
  content: "";
  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: url("https://blob.sololearn.com/avatars/7d7f7a92-dce4-4e4e-881f-09fa696c9b3c.jpg");
  background-size: cover;
  border: 5px solid #000;
  box-shadow: 0 0 15px #000;
  z-index: 3;
  background-repeat: no-repeat;
}

#name {
  color: #fff;
  text-shadow: 0 0 10px #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 29px;
  display: block;

  padding-bottom: 21px;
  border-bottom: 3px solid #fff;
}

#bio {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #cacaca;
  text-shadow: 0 0 0px #141414;
  padding: 10px 0;
}

#skills,
#social {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 21px;
}

#skills {
  border-bottom: 3px solid #fff;
}

#sk_head,
#so_head {
  display: block;
  color: #fff;
  text-shadow: 0 0 10px #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  margin: 15px 0;
  grid-column: 1/-1;
}

.skill_logo,
#social_logo {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 5px #000;
  transition: 0.3s;
}

.skill_logo:hover,
#social_logo:hover {
  transform: scale(1.07);
  box-shadow: 0 0 10px #000;
}
