/* Created By Prathamesh Thorat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  flex-direction: column;
  padding: 50px 0;
}

#clock {
  width: 90vw;
  height: 90vw;
  border-radius: 50%;
  border: 10px solid #000;
  box-shadow: 0 0 5px #000, inset 0 0 5px #000;
  background-image: url("./clock.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  max-width: 450px;

  min-height: 200px;
  min-width: 200px;
}

#clock::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
}

#clock_center {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: darkgrey;
  border-radius: 50%;
}

.hand {
  width: var(--width);
  height: var(--height);
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: bottom;
}

.sec {
  --height: 40%;
  --width: 3px;
}

.min {
  --height: 35%;
  --width: 3px;
}

.hour {
  --height: 30%;
  --width: 5px;
}

#social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  width: 85%;
  max-width: 450px;
}

.social_logo {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15%;
  box-shadow: 0 0 5px #000;
  background-color: #fff;
  transition: 0.3s;
}

.social_logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #000;
}
